summ-web<=0.1.0
summ-logging<=0.1.0
summ-common<=0.1.0
hawk-models<=0.1.0
hawk-auth<=0.1.0
hawk-core<=0.1.0
Flask # version managed by summ-web
Flask-RESTful # version managed by summ-web
Flask-SQLAlchemy # version managed by summ-web
Flask-Cors # version managed by summ-web
webargs # version managed by summ-web
requests==2.26.0
boto3==1.19.12
pillow==8.4.0
google-api-python-client==2.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
pandas==1.3.4